<template>
  <v-form v-on:submit.prevent="createTask" ref="form" class="ma-6">
    <v-row>
      <v-btn large @click="createTask">Add Task</v-btn>
      <v-text-field
        placeholder="What do you need to do?"
        v-model="text"
        class="ml-3"
      ></v-text-field>
    </v-row>
  </v-form>
</template>

<script>
export default {
  name: "AddTaskForm",
  data() {
    return {
      text: "",
    };
  },
  methods: {
    createTask() {
      if (this.text) {
        this.$store.commit("addTask", { text: this.text });
        this.$refs.form.reset();
      }
    },
  },
};
</script>
