<template>
  <div class="text-center">
    <h1 class="text-center">To-Do List:</h1>
    <v-fade-transition>
      <v-progress-circular
        v-if="this.$store.getters.tasksStarted"
        color="red"
        size="60"
        rotate="-90"
        :value="this.$store.getters.progress"
        class="ml-3"
      >
      </v-progress-circular>
    </v-fade-transition>
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>
