<template>
  <v-dialog transition="dialog-bottom-transition" max-width="350">
    <template v-slot:activator="{ on, attrs }">
      <v-btn dark color="red" v-bind="attrs" v-on="on">Reset</v-btn>
    </template>
    <template v-slot:default="dialog">
      <v-card class="pa-3 text-center">
        <v-card-text>
          Are you sure you want to reset the list?
        </v-card-text>
        <v-row justify="center">
          <v-btn
            small
            dark
            color="red"
            @click="
              () => {
                reset(dialog);
              }
            "
          >
            <v-icon dark>
              mdi-check
            </v-icon>
            Confirm</v-btn
          >
          <v-btn small @click="dialog.value = false">
            <v-icon>
              mdi-cancel
            </v-icon>
            Cancel
          </v-btn>
        </v-row>
      </v-card>
    </template>
  </v-dialog>
</template>

<script>
export default {
  name: "Reset",
  methods: {
    reset(d) {
      this.$store.commit("reset", { d });
    },
  },
};
</script>
