<template>
  <draggable :list="this.$store.state.tasks">
    <Task
      v-for="(task, index) in this.$store.state.tasks"
      :key="index"
      :task="task"
    >
    </Task>
  </draggable>
</template>

<script>
import draggable from "vuedraggable";
import Task from "./Task";

export default {
  name: "TaskList",
  components: {
    Task,
    draggable,
  },
};
</script>
