<template>
  <v-hover v-slot="{ hover }">
    <v-list-item :class="task.done ? 'grey lighten-2' : 'white'">
      <v-checkbox
        v-model="task.done"
        :input-value="task.done"
        color="grey"
        @change="updateTask"
      ></v-checkbox>
      {{ task.text }}
      <v-icon v-if="hover" @click="deleteTask">mdi-delete</v-icon>
    </v-list-item>
  </v-hover>
</template>

<script>
export default {
  name: "Task",
  props: ["task"],
  methods: {
    deleteTask() {
      this.$store.commit("deleteTask", { id: this.task.id });
    },
    updateTask() {
      this.$store.commit("updateTask", {
        id: this.task.id,
        status: this.task.done,
      });
    },
  },
};
</script>
