<template>
  <v-app>
    <Header></Header>
    <AddTaskForm></AddTaskForm>
    <TaskList></TaskList>
    <Reset></Reset>
  </v-app>
</template>

<script>
import Header from "./components/Header";
import AddTaskForm from "./components/AddTaskForm";
import TaskList from "./components/TaskList";
import Reset from "./components/Reset";

export default {
  name: "App",
  components: {
    Header,
    AddTaskForm,
    TaskList,
    Reset,
  },
  mounted() {
    if (localStorage.nextTaskId) {
      this.$store.commit("restoreTaskId");
    }
    if (localStorage.getItem("tasks")) {
      try {
        this.$store.commit("restoreTasks");
      } catch (e) {
        localStorage.removeItem("tasks");
      }
    }
  },
  watch: {
    "$store.state.nextTaskId"(newTaskId) {
      localStorage.nextTaskId = newTaskId;
    },
    "$store.state.tasks"(newTasks) {
      localStorage.setItem("tasks", JSON.stringify(newTasks));
    },
  },
};
</script>
